.place {
    padding: 5px;
    box-shadow: 4px 5px #000;
    transition: all 0.3s ease; 
}

.row:hover .place{
    box-shadow:unset;
}

@media only screen and (max-width: 800px) {
    .responsiveCell {
      display: none;
    }
  }