.card {
    margin-top: 20px;
    background-color: white;
    width: 300px;
}

.right { 
    float: right;
}

.cardItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}